# Setup

In [1]:
import csv
import os
import glob

import pandas as pd

# Parse Data

In [4]:
fname = r'../../../data/src/population/zcta_11_to_15.csv'
df = pd.read_csv(fname)

/home/pryan/anaconda3/envs/capstone/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.reset_index(inplace=True)
df = df.rename(columns={'index': 'id'})

In [7]:
df.head()

,id,name,year,all_ages_m,under_5_m,5_to_9_m,10_to_14_m,15_to_17_m,18_to_19_m,20_m,...,55_to_59_f,60_to_61_f,62_to_64_f,65_to_66_f,67_to_69_f,70_to_74_f,75_to_79_f,80_to_84_f,85_plus_f,zcta
0,0,ZCTA5 01001,2011,7938.0,466.0,487.0,577.0,340.0,195.0,85.0,...,605.0,208.0,355.0,125.0,191.0,407.0,261.0,360.0,596.0,1001
1,1,ZCTA5 01002,2011,13514.0,493.0,510.0,387.0,300.0,1635.0,1158.0,...,770.0,267.0,512.0,89.0,324.0,261.0,238.0,228.0,361.0,1002
2,2,ZCTA5 01003,2011,5053.0,0.0,0.0,12.0,16.0,2507.0,1033.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1003
3,3,ZCTA5 01005,2011,2439.0,141.0,131.0,165.0,161.0,55.0,43.0,...,271.0,34.0,37.0,61.0,52.0,39.0,48.0,119.0,77.0,1005
4,4,ZCTA5 01007,2011,7233.0,480.0,523.0,613.0,470.0,203.0,75.0,...,564.0,175.0,307.0,78.0,270.0,120.0,138.0,172.0,107.0,1007

In [11]:
fname = r'../../../data/wrk/population/population.csv'
df.to_csv(fname, quoting=csv.QUOTE_NONNUMERIC, encoding='utf-8', index=False)