# Setup

In [1]:
import csv
import os
import glob

import pandas as pd

# Parse Data

In [4]:
path = r'../../../data/src/rate-beer/reviews/'
allFiles = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_)

In [8]:
frame.reset_index(inplace=True)

,index,beer_id,date,rating,text,user_location,user_name
0,0,1045,2017-04-26,3.4,"Poured as part of a ""Derivation flight"" with b...","Philadelphia, Pennsylvania, USA",JAXSON
1,1,1045,2017-03-31,4.3,Bottle 750ml. shared at [ A Day To Sink All Se...,"VestJylland, DENMARK",fonefan
2,2,1045,2017-02-09,4.4,750 ml bottle to goblet at SPC. Looks good; a ...,"Indiana, USA",b3shine
3,3,1045,2016-10-30,4.6,"Bottle shared during Marks 4K tasting, and la...","Alingsås, SWEDEN, SWEDEN",markextrae
4,4,1045,2016-09-27,4.1,Bottle shared at A Day To Sink All Sea Shepard...,"The Hague / Amsterdam, NETHERLANDS",kermis

In [9]:
frame = frame.rename(columns={'index': 'id'})

In [10]:
frame.head()

,id,beer_id,date,rating,text,user_location,user_name
0,0,1045,2017-04-26,3.4,"Poured as part of a ""Derivation flight"" with b...","Philadelphia, Pennsylvania, USA",JAXSON
1,1,1045,2017-03-31,4.3,Bottle 750ml. shared at [ A Day To Sink All Se...,"VestJylland, DENMARK",fonefan
2,2,1045,2017-02-09,4.4,750 ml bottle to goblet at SPC. Looks good; a ...,"Indiana, USA",b3shine
3,3,1045,2016-10-30,4.6,"Bottle shared during Marks 4K tasting, and la...","Alingsås, SWEDEN, SWEDEN",markextrae
4,4,1045,2016-09-27,4.1,Bottle shared at A Day To Sink All Sea Shepard...,"The Hague / Amsterdam, NETHERLANDS",kermis

In [13]:
fname = r'../../../data/wrk/ratebeer/reviews.csv'
frame.to_csv(fname, quoting=csv.QUOTE_NONNUMERIC, encoding='utf-8', index=False)

In [ ]:
pgfutter --host capstone-brewing.cyol5m7lekm6.us-east-1.rds.amazonaws.com --port 5432 --db brew --username pjryan126 --schema src --pass 0408Deek csv reviews.csv