# Setup

In [1]:
import csv
from datetime import datetime
import json
import os
import pprint
from Queue import Queue
import string
from threading import Thread

from ipywidgets import FloatProgress
from IPython.display import display
import numpy as np
import pandas as pd

In [2]:
src = '../../../data/src/rate-beer/'

# Load Source Data

In [3]:
# load data to dataframe
fname = os.path.abspath(os.path.join(src, 'beer.csv'))
data = pd.read_csv(fname)

In [4]:
# remove unnecessary columns
data = data.iloc[:,0:20]
del data['_has_fetched']

In [5]:
data.id += 1

In [6]:
for i,c in enumerate(data.columns):
    print('{}: {}'.format(i,c))

0: id
1: abv
2: brewed_at
3: brewery
4: calories
5: description
6: ibu
7: img_url
8: mean_rating
9: name
10: num_ratings
11: overall_rating
12: retired
13: seasonal
14: style
15: style_rating
16: style_url
17: tags
18: url

# Parse Data

## Create DataFrames

In [7]:
beers = pd.DataFrame(columns=data.columns)
del beers['tags']
tags = pd.DataFrame(columns=['id', 'name'])
beer_tag = pd.DataFrame(columns=['beer_id', 'tag_id'])

In [8]:
# global variables
num_fetch_threads = 10
queue = Queue()
tag_id = 0

# build queue
ids = range(1, data.id.max() + 1)
for id in ids:
    q = id
    queue.put(q)

# set up progress bar
p = FloatProgress(min=0, max=queue.qsize(), description="Parsing pages")
display(p)

#define worker
def parse_data(i, q):
    global p
    global tags
    global beer_tag
    global tag_id
    while True:
        id = q.get()
        row = data[data.id==id].iloc[0]
        try:
            if row.tags != '[]':
                tag_list =row.tags.strip('[').strip(']')
                tag_list = tag_list.split(',')
                tag_list = [t.strip() for t in tag_list]
                for tag in tag_list:
                    current_tags = tags.name.tolist()
                    if not tag in current_tags:
                        tag_id += 1
                        new_tag = pd.DataFrame(dict(id=tag_id, name=tag), index=[0])
                        tags = tags.append(new_tag)

                        new_beer_tag = pd.DataFrame(dict(beer_id=row.id, tag_id=tag_id), index=[0])
                        beer_tag = beer_tag.append(new_beer_tag)
                    else:
                        current_tag = tags[tags.name==tag].iloc[0].id
                        new_beer_tag = pd.DataFrame(dict(beer_id=row.id, tag_id=current_tag), index=[0])
                        beer_tag = beer_tag.append(new_beer_tag)
        except:
            print row.tags
            pass
            
        p.value += 1
        q.task_done()
        
# open threads
for i in range(num_fetch_threads):
    worker = Thread(target=parse_data, args=(i, queue,))
    worker.setDaemon(True)
    worker.start()

# start task queue
queue.join()

[rauchbock, smoked malt, bamberg smoked malt]
nan
[table beer, brettanomyces]
nan
[nefiltrovan??, saaz, 12??, cervenak, cervenak]

In [12]:
wrk = '../../../data/wrk/ratebeer/'

   beer_id tag_id
0        1      1
0        1      2
0        1      3
0        4      5
0        3      3
0        4      8
0        7      2
0        3     11
0        2     11
0        2     13
0        7     13
0        3     17
0        6     18
0        7      3
0        4     20
0        4     22
0       15     24
0       15     27
0       15     28
0       10      2
0        4     30
0        9     38
0       16     39
0       12     44
0       21     48
0       21     49
0       17     15
0       21     51
0       22     58
0        4     61
..     ...    ...
0       58    112
0       53    130
0       56    132
0       57    133
0       54    134
0       59    136
0       56    136
0       55    137
0       54    136
0       57    141
0       52    141
0       62    112
0       59    148
0       58    148
0       58    110
0       60    112
0       54    150
0       55    149
0       55    152
0       54    153
0       54    130
0       65    130
0       62    154
0       62    131
0       64    154
0       65    158
0       66    161
0       67    161
0       67    124
0       69    162

[100 rows x 2 columns]

In [11]:
tags.shape

(682, 2)